body {
    height: 100vh;
    width: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pieces {
  height: 200px;
  width: 200px;
  display: inline-block;
  border: gray solid 15px;
//   box-shadow: 
  &:hover {
      cursor: pointer;
  }
  &:active {
      background-color: black;
  }
  &:focus {
      background-color: black;
  }
  &:target {
      background-color: black;
  }
}

#r {
  background-color: #FD311C;
  border-top-left-radius: 100%;
}

#y {
  background-color: #FDB91C;
  border-top-right-radius: 100%;
}

  
#b {
  background-color: #2540AC;
  border-bottom-left-radius: 100%;
}


#g {
  background-color: #15BF3B;
  border-bottom-right-radius: 100%;
}

.bottom {
  /*margin-top: -20px;*/
  z-index: 2;
}

#container {
  position: absolute;
  margin: 5% 20%;
  min-width: 420px;
  min-height: 420px;
}

#controls {
  height: 180px;
  width: 180px;
    background-color:#282828;
  z-index: 100;
  position: absolute;
  top: 115px;
  left: 125px;
  border-radius: 100%;
//   background:
// radial-gradient(black 15%, transparent 16%) 0 0,
// radial-gradient(black 15%, transparent 16%) 8px 8px,
// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

}


.toggle {
	display: block;
	text-align: center;
	margin-top: 75px;
    user-select: none;
}
	.toggle-checkbox {
    display: none;
	}
	.toggle-btn {
		display: block;
		margin: 0 auto;

		font-size: .4em;

		transition: all 350ms ease-in;

		&:hover {
			cursor: pointer;
		}
	}

	.toggle-btn,
	.toggle-checkbox,
	.toggle-feature {
		&,
		&:before,
		&:after {
			transition: all 250ms ease-in;
		}
		&:before,
		&:after {
			content: '';
			display: block;
		}
	}


    $toggleHeight: 30px;
	$toggleWidth: 50px;

	$toggleBtnWidth: 15px;
	$toggleBtnColor: #2b2e3a;

	$toggle-bgColor-inactive: #FD311C;
	$toggle-bgColor-active: #15BF3B;

	$toggle-textColor: #fff;

	.toggle-switch {

		& .toggle-btn {
			position: relative;
			width: $toggleWidth;
			height: $toggleHeight;

			font-family: 'PT Sans', Sans Serif;
			text-transform: uppercase;
			color: $toggle-textColor;

			// background: $toggle-bgColor-inactive;

			background: linear-gradient(90deg, $toggle-bgColor-active 0%, $toggle-bgColor-active 50%, $toggle-bgColor-inactive 50%, $toggle-bgColor-inactive 200%);
			background-position: -33px 0;
			background-size: 200% 100%;
			box-shadow: inset 0 0px 22px -8px #111;


			&,
			&:before {
				border-radius: 4px;
			}

			//contains the actual knob part of the button and the 'on' text
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);

				width: $toggleBtnWidth;
				height: $toggleHeight;
				border: 2px solid #202027;
				background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.15) 100%);
				background-color: $toggleBtnColor;

				background-size: 5px 5px;

				text-indent: -100%;
			}
		}

		& .toggle-feature {
			position: relative;
			display: block;
			overflow: hidden;
			height: $toggleHeight;
			text-shadow: 0 1px 2px #666;

			&:before,
			&:after {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
			&:before {
				content: attr(data-label-on);
				left: -60%;
			}
			&:after {
				content: attr(data-label-off);
				right: 16%;
			}
		}

		& .toggle-checkbox {
			&:checked {
				& + .toggle-btn {
					// background: $toggle-bgColor-active;

					background-position: 0 0;

					&:before { left: calc(100% - #{$toggleBtnWidth}); }

					& .toggle-feature {
						&:before	{ left: 20%; }
						&:after		{ right: -60%; }
					}
				}
			}
		}
	}

